.page {
    background-image: none;
}

.round-time-bar {
    margin: 1rem;
    overflow: hidden;
}
.round-time-bar div {
    height: 5px;
    animation: roundtime calc(var(--duration) * 1s) steps(var(--duration)) forwards;
    transform-origin: left center;
    background: linear-gradient(to bottom, black, black);
}

.round-time-bar[data-style="smooth"] div {
    animation: roundtime calc(var(--duration) * 1s) linear forwards;
}

@keyframes roundtime {
    to {
        transform: scaleX(0);
    }
}
