@inject Services.BlazorTimer Timer
@inject NavigationManager NavManager
@page "/credits"

<div class="card text-left">
    <div class="card-body">
        <h5 class="card-title">Créditos</h5>
        <p class="card-text"><b>Romhackers: </b>Megaflan, Fan Translations Int.</p>
        <p class="card-text"><b>Traductores: </b>Seta, Aleix, Hadouken, krix, Megaflan, Ryuusuke, Gross y Óscar73</p>
        <p class="card-text"><b>Correctores: </b>Shiryu, RodMerida, Spike, Valcat, Harucchi, Megaflan y Leeg</p>
        <p class="card-text"><b>Editores gráficos: </b>Darkmet98, Megaflan y GriffithVIII</p>
        <p class="card-text"><b>Betatesters: </b>Megaflan, Leeg y Ryuusuke</p>
        <p class="card-text"><b>Editores de vídeo: </b>Roxa Amakura (Cinemáticas ingame) y SynthGaen (Tráiler)</p>
        <p class="card-text"><b>Agradecimientos: </b>Fan Translations Int. (Por toda la ayuda ofrecida desde el inicio del proyecto)</p>
    </div>
    <div class="round-time-bar" data-style="smooth" style="--duration: 10;">
        <div></div>
    </div>
    <div class="card-footer text-muted">
        TraduSquare 2017-2022
    </div>
</div>




@code {
    private void StartTimer()
    {
        Timer.SetTimer(10000);
        Timer.OnElapsed += TimerElapsedHandler;
    }

    private void TimerElapsedHandler()
    {
        NavManager.NavigateTo("patcher");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            StartTimer();
        }
    }
}
