@page "/credits"
@layout PatcherLayout

<div class="card text-left estilo">
    <div class="card-body">
        <h5 class="card-title">Créditos</h5>
        <p class="card-text"><b>Romhackers: </b>Megaflan, Neobeo, Icyson55, OnePieceFreak</p>
        <p class="card-text"><b>Traductores: </b>Seta, Aleix, Hadouken, krix, Megaflan, Ryuusuke, Gross y Óscar73</p>
        <p class="card-text"><b>Correctores: </b>Shiryu, RodMerida, Spike, Valcat, Harucchi, Megaflan y Leeg</p>
        <p class="card-text"><b>Editores gráficos: </b>Darkmet98, Megaflan y GriffithVIII</p>
        <p class="card-text"><b>Betatesters: </b>Megaflan, Leeg y Ryuusuke</p>
        <p class="card-text"><b>Editores de vídeo: </b>Roxa Amakura (Cinemáticas ingame) y SynthGaen (Tráiler)</p>
        <p class="card-text"><b>Agradecimientos: </b>Fan Translations Int. (Por toda la ayuda ofrecida desde el inicio del proyecto)</p>
    </div>
    <div class="card-footer text-muted">
        TraduSquare 2017-2022
    </div>
</div>