@page "/gamepatch"
@layout PatcherLayout

<div class="card text-left estilo">
    <div class="card-body">
        <h2 class="m-0 text-center">Parchea tu copia original de Nintendo 3DS</h2>
        <div class="row d-flex justify-content-center">
            <p class="col-md-9">Este parche es compatible para copias originales de Shin Megami Tensei IV, tanto en versión física como en versión digital. Para saber cómo conseguir un dump legítimo de tu copia, lee los siguientes tutoriales:</p>
            <ul class="text-left">
                <li>
                    <a href="https://not-d3fau4.tk/como-dumpear-nsp/" target="_blank">Tutorial para extraer el juego digital [CIA]</a>
                </li>
                <li>
                    <a href="https://not-d3fau4.tk/como-dumpear-xci/" target="_blank">Tutorial para extraer el cartucho [3DS]</a>
                </li>
            </ul>
        </div>
        <form name="eligeCarpeta" class="px-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <label>Selecciona el dump de tu copia original</label>
                    <div class="input-group">
                        <input class="form-control" name="juego" type="text" placeholder=".cia o .3ds" id="gamePath" disabled="disabled">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-secondary input-group-text" id="searchGame">Examinar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12"><button type="button" class="btn btn-secondary btn-block" id="patch" style="text-align: center; margin-top: 3vh;" onclick="DownloadPatch()">Aplicar parche</button></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer text-muted">
        TraduSquare 2017-2022
    </div>
</div>
