@page "/"

<div class="layout-white"></div>
<div class="animation-white-bg"></div>
<div class="logoSMTIV">
    <img src="../img/SMT_IV_LOGO_CASTELLANO.png" width="100%">
</div>
<div class="layout-black"></div>
<div class="animation-black-bg"></div>
<NavLink class="nav-link" href="fetchdata">
    <button type="button" class="button-custom-1">Instalar</button>
</NavLink>
