@inherits LayoutComponentBase

<div class="page">
    <div class="transition-1">
        <div class="layout"></div>
        <div class="animation-cloud"></div>
        <div class="button-header top-row">
            <NavLink class="" href="gamepatch">
                <button type="button" class="button-custom-1">Juego</button>
            </NavLink>
            <NavLink class="" href="dlcpatch">
                <button type="button" class="button-custom-2">DLCs</button>
            </NavLink>
            <NavLink class="" href="credits">
                <button type="button" class="button-custom-3">Créditos</button>
            </NavLink>            
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>    
</div>